
.notifications {
    position: fixed;
    bottom: 50px;
    left: 50px;
    z-index: 100000000;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: flex-start;
  }
  .notifications > div {
    width: 300px;
    padding: 30px;
    position: relative;
    border-radius: 15px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: flex-start;
    color: white;
    font-size: 20px;
    animation: goIn 1s ease-out forwards, goOut 1s ease-out forwards 5s;
    box-shadow:  2px 2px 15px rgba(0, 0, 0, 0.25);
    margin-top: 20px;
  }
  .fading_out {
    opacity: 0 !important;
    transform: translateX(-300px) !important;
    transition: all 1s ease-out !important;
  }
  .notifications > div.green {
    background-color: #80E76F;
  }
  .notifications > div.red {
    background-color: #e7816f;
  }
  .notifications > div.normal {
    background-color: #F2F4FF;
    color: black;
  }
  @keyframes goIn {
    0% {
      opacity: 0;
      transform: translateX(-300px);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  @keyframes goOut {
    0% {
      opacity: 1;
      transform: translateX(0px);
    }
    100% {
      opacity: 0;
      transform: translateX(-300px);
    }
  }
  .notifications > div > div {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 5px;
    right: 5px;
    border-radius: 50%;
    padding: 0px 2.5px;
    cursor: pointer;
  }
  .notifications > div > div:active {
    background-color: #bababa;
  }
  .notifications > div > div div {
    height: 2.5px;
    width: 15px;
    background-color: white;
    margin: 5px;
    border-radius: 1.25px;
    position: relative;
    transform: rotate(45deg);
  }
  .notifications > div.normal > div div {
    background-color: black;
  }
  .notifications > div > div div:first-child {
    transform: rotate(-45deg);
    top: 7.5px;
  }